[submodule "Vendor/DgLib"]
	path = Vendor/DgLib
	url = https://github.com/int-Frank/DgLib
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/int-Frank/imgui
