[submodule "Vendor/DgLib"]
	path = Vendor/DgLib
	url = D:\\dev\\projects\\BSR\\Vendor\\DgLib
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = D:\\dev\\projects\\BSR\\Vendor\\spdlog
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = D:\\dev\\projects\\BSR\\Vendor\\imgui
[submodule "Vendor/cppunitlite"]
	path = Vendor/cppunitlite
	url = https://github.com/int-Frank/cppunitlite
